<div class="container">
  <h3>Thêm sản phẩm</h3>
  <form action="/admin/creat" method="post">
    <div class="form-group">
      <label for="product">Tên sản phẩm</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Tên sản phẩm">
    </div>
    <div class="form-group">
      <label for="product">Loại</label>
      <input type="text" class="form-control" id="type" name="type" placeholder="Loại">
    </div>
    <div class="form-group">
      <label for="product">Màu sắc</label>
      <input type="text" class="form-control" id="color" name="color" placeholder="Màu sắc">
    </div>
    <div class="form-group">
      <label for="product">Giá</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="Giá">
    </div>
    <div class="form-group">
      <label for="product">Số lượng</label>
      <input type="text" class="form-control" id="quantity_in_stock" name="quantity_in_stock" placeholder="Số lượng">
    </div>
    <div class="form-group">
      <label for="product">Hình ảnh</label>
      <input type="text" class="form-control" id="image" name="image" placeholder="Hình ảnh">
    </div>
    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
  </form>
</div>